.alert-response {
   cursor: pointer;
}

.management {
   label {
      font-size: 1rem;
   }

   input, select {
      margin-bottom: 0.7rem;
   }
}

.ingredient-data-row {
   margin-top: 0.5rem;
}

.ingredient-add-box {
   color: #1d643b;
   background-color: #d7f3e3;
   margin-top: 2rem;
   margin-bottom: 2rem;
   padding-bottom: 3rem;
   padding-top: 0.8rem;
   border-radius: 0.3rem;
   border: 1px solid #c7eed8;
   padding-right: 1rem;
   padding-left: 1rem;

   &-text {
      padding-top: 0.4rem;
   }
}

//XS screen
@media screen and (max-width: 320px) {
   //Fix méret a recept manage nézethez, hogy ne ugrabugráljon.
   .recipe-manage-view {
      .ingredient-add-box {
         overflow: auto;
         text-align: center;
      }

      .add-ingredient-button {
         width: 100%;
      }
   }
}

//Mobil
@media screen and (max-width: 639px) {
   //Fix méret a recept manage nézethez, hogy ne ugrabugráljon.
   .recipe-manage-view {
      width: 22.5rem !important;

      .submit-button-margin {
         width: 92% !important;
      }

      .management {
         margin-left: 2rem !important;
         margin-right: 2rem !important;
      }

      .ingredient-data-row-button {
         width: 100% !important;
      }
   }
}

//Desktop
@media screen and (min-width: 640px) {

   //Fix méret a recept manage nézethez, hogy ne ugrabugráljon.
   .recipe-manage-view {
      width: 37rem !important;

      .submit-button-margin {
         width: 92% !important;
      }

      .management {
         margin-left: 10rem !important;
         margin-right: 10rem !important;
      }
   }
}


