.alert-response {
   cursor: pointer;
}

.management {
   label {
      font-size: 1rem;
   }

   input, select {
      margin-bottom: 0.7rem;
   }
}

.ingredient-data-row {
   margin-top: 0.5rem;
}

@media screen and (max-width: 639px) {
   .ingredient-data-row-button {
      width: 100% !important;
   }
}


.ingredient-add-box {
   color: #1d643b;
   background-color: #d7f3e3;
   margin-top: 2rem;
   margin-bottom: 2rem;
   padding-bottom: 3rem;
   padding-top: 0.8rem;
   border-radius: 0.3rem;
   border: 1px solid #c7eed8;
   padding-right: 1rem;
   padding-left: 1rem;

   &-text {
      padding-top: 0.4rem;
   }
}


@media screen and (max-width: 639px) {
   .submit-button-margin {
      width: 92% !important;
   }

   .management {
      margin-left: 2rem !important;
      margin-right: 2rem !important;
   }
}

@media screen and (min-width: 640px) {
   .submit-button-margin {
      width: 92% !important;
   }

   .management {
      margin-left: 10rem !important;
      margin-right: 10rem !important;
   }
}


