.alert-response {
   cursor: pointer;
}

/*
   Fix méret a táblához. Muszáj, mert adatfrissítéskor ugrált.
 */
/*

.table-fix-size {
   width: 57rem !important;
}*/

@media screen and (max-width: 991px) {
   .submit-button-margin {
      width: 92% !important;
   }

   .user-management {
      margin-left: 2rem !important;
      margin-right: 2rem !important;
   }
}

@media screen and (min-width: 640px) {
   .user-management {
      margin-left: 10rem !important;
      margin-right: 10rem !important;
   }
}


